*{
    box-sizing:border-box;
    /*outline:1px solid red;*/
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    align-items:center;
    justify-content: center;
}

#fullbox{
    display:flex;
    flex-direction: row;
    width:60%;
    height:800px;
    outline: 1px solid blue;
    
}

#sidebar{
    display:flex;
    overflow:hidden;
    width:30%;
}

#sign-in{
    width:70%;
    display:flex;
    flex-direction: row;
    outline:2px solid black;
    align-items:center;
    justify-content: space-between;

}

.section{
    height:200px;
    outline: 1px red solid;

}

.form-row{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}