*{
    box-sizing: border-box;

}

@font-face {
    font-family: "GingerBrand";
    src: url("fonts/GingerBrand.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:black;
    min-height:100vh;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

#fullbox{
    width:1450px;
    height:1024px;

    display:flex;
    flex-direction: row;
}

#imagebox{
    width:35%;
    height:100%;
    position:relative;
    z-index:0;
}

#sidebar-heading{
    background-color:rgba(0,0,0,0.5);
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    width:100%;
    height:150px;
    top:18.3%;
    font-size:75px;
    gap:10px;
    font-family:GingerBrand;
}

#credit{
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    bottom:1%;
    width:100%;
    z-index:1;
    
}

#credit span{
    color:white;
    
}

.section{
    width:100%;
    height:33%;
    display:flex;
    padding-left:40px;
}


.section.sign-in{
    height:34%;
    flex-direction:column;
    font-size:0.9em;
}

.text-content{
    font-weight:bold;
    max-width:80%;
}

.sign-in {
    background-color: white;
    border-radius: 8px;
    box-shadow: 
        0 -2px 4px rgba(0, 0, 0, 0.08),  /* subtle top shadow */
        0 4px 8px rgba(0, 0, 0, 0.2);     /* slightly stronger bottom shadow */
    display:flex;

}

form{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

.form-row{
    display:flex;
    flex-direction:row;
    padding-top:40px;

    
}

.form-row:first-of-type{
    padding-top:0px;
}

.form-box input[type='text']:user-invalid,
.form-box input[type='tel']:user-invalid,
.form-box input[type='email']:user-invalid,
.form-box input[type='password']:user-invalid{
    border-color: #ff5151;


}

.form-box input[type='text'],
.form-box input[type='tel'],
.form-box input[type='email'],
.form-box input[type='password']{
    background-color:#FFFEFE;
    border:1px solid #E5E7EB;
    border-radius:6px;
    height:30px;
    width:250px;
    padding-left:10px;
    font-family:"Segoe UI";
    font-weight:500;
    font-size:1em;

}


.form-box input[type='text']:focus,
.form-box input[type='tel']:focus,
.form-box input[type='email']:focus,
.form-box input[type='password']:focus{
    outline-color:#5eb4ed;
}
label{
    font-family:monospace;
    font-size:1.2em;
    font-weight:bold;
    color:#575E69;
}
.form-box{
    display:flex;
    flex-direction:column;
    padding-right:60px;
}

.head-box{
    display:flex;
    align-items:end;
    flex-direction:row;
    color:Black;
    font-size:25px;
    padding-bottom:25px;
}


#sidebar-heading img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}


#imagebox .back{
    object-fit:cover;
    height:100%;
    width:100%;
    position:absolute;
    z-index:-1;
}


#contentbox{
    width:65%;
    height:auto;
    background-color: #F9FAFB;
}

.section button{
    align-self:flex-start;
    width:auto;
    height:auto;
    margin-top:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:225px;
    height:50px;
    border:0px;
    border-radius:6px;
    background-color: #213F53;
    color:white;
    font-weight: bold;
    font-size:1em;
}

.section button:active{
    transform: scale(0.98); 
}

.section.end{
    flex-direction:column;
    font-weight:500;
}

a{
    text-decoration:none;
    color:#54a0d3;
}