*{
    outline: green solid 1px;
    box-sizing: border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content: center;
}

#fullbox{
    width:1450px;
    height: 1024px;

    display:flex;
    flex-direction: row;
}

#imagebox{
    width:35%;
    height:100%;
    position:relative;
}

#sidebar-heading{
    background-color:rgba(0,0,0,0.5);
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    position:absolute;
    width:100%;
    height:150px;
    top:30%;
    font-size:75px;
    gap:10px;
}


#sidebar-heading img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
}


#imagebox .back{
    object-fit:cover;
    height:100%;
    width:100%;
    position:absolute;
    z-index:-1;
}


#contentbox{
    width:65%;
    height:auto;
    background-color: blue;
}
